table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: -15%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.imgur.com/Qko99YP.jpg");
    background-size: 100%;
    background-repeat: no repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    padding: 24px 26px 10px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    opacity: 0.5;
}

.wave {
    float: left;
    display: block;
}

.title {
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    font-size: 75px;
    margin-top: 50px;
    letter-spacing: .1em;
    color: white;
    opacity: 1;
}

.motto {
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    padding: 40px 0 40px;
    color: white;
    font-size: 20px;
    letter-spacing: .1em;
    opacity: 1;
}

.column {
    width: 15%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.column .button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(10%, -50%);
    background-color: #999999;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.price {
    position: absolute;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.item {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px black;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: .05em;
}

.row {
    text-align: center;
    padding-top: 60px;
}

#mail {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.signup {
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
    opacity: 0.7;
}

.submit {
    width: 50px;
    height: 40px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}

.submit:hover {
    opacity: 0.5;
}

.logout {
    transition: 0.3s;
    font-family: 'Open Sans Condensed', sans-serif;
}

.logout:hover {
    opacity: 50%;
}

@media (max-width: 700px) {
    .title {
        font-size: 35px;
        margin-top: 75px;
    }
    .motto {
        padding: 20px 0 20px;
        font-size: 10px;
    }
    .navbar {
        font-size: 15px;
    }
    .column .button {
        transform: translate(-25%, -70%);
        font-size: 5px;
    }
    .column {
        width: 50%;
        padding: 5px;
    }
    .price {
        top: 80%;
        left: 20%;
        font-size: 15px;
    }
    .item {
        top: 95%;
        font-size: 10px;
    }
    #mail {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .signup {
        font-size: 25px;
        padding-bottom: 5px;
    }
    .email {
        font-size: 15px;
        width: 200px;
        height: 20px;
    }
    .submit {
        font-size: 15px;
        background: none;
    }
}

@media (max-width: 1700px) {
    .column .button {
        position: absolute;
        top: 80%;
        left: 50%;
        font-size: 15px;
        padding: 5px 0;
    }
}

@media (max-width: 1000px) {
    .column {
        width: 40%;
        padding: 20px;
    }
    .row {
        padding-top: 20px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.page-item {
    display: inline-block;
    padding: 10px;
}

.pagination>li>a, .pagination>li>span {
    background-color: black;
    opacity: 0.5;
    color: white;
    border: transparent;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: white;
    color: black;
}